@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Web application created as a project for COM533 Databases and Web-Based Information Systems.</p>
<p>Producers: Valentin Rault, Bartosz Rozmarynowski, Robert Zielinski</p>
