@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 100px;">
    @Html.Partial("_Employee")
    @Html.Partial("_Helpdesk")
    @Html.Partial("_Specialist")
    @Html.Partial("_Administrator")
</div>
